/* body */

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--body-color);
}

/* veriables */

:root {
  --body-color: #f5f5f5;
  --main-color: #ffffff;
  --nav-color: #1b1b1b;
  --text-color: #9c9c9c;
  --hero-color: #080808;
  --title-color: #080808;
  --color: #d9d9d9;
  --color: #000000;
  --btn-hero-color: #408f00;
  --btn-one-color: #ffa217;
  --btn-two-color: #000aff;
  --btn-three-color: #2ab090;
  --color: #f7f7f7;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}
address {
  font-style: normal;
}
a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 950px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid blue;
}

/* buttom */

a[href] {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
}

a[href]:hover,
a[href]:focus {
  color: var(--main-color);
}
a[href]:active {
  color: #bbb9b9;
}
/* .btn {
  background: #3f8e00;
  border: 1px solid #3f8e00;
  border-radius: 4px;
  color: var(--main-color);
  box-shadow: 1px 1px 3px 0px rgba(87, 120, 61, 0.75);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(87, 120, 61, 0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(87, 120, 61, 0.75);
} */

.btn-top {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  min-width: 307px;
  height: 63px;
  /* padding: 21px 64px; */
  color: #ffffff;
}
.btn {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
  border: none;
}
.btn-green {
  background-color: #62ba1b;
  /* border: 1px solid #62ba1b; */
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.btn-green:hover,
.btn-green:focus {
  background-color: var(--btn-hero-color);
}
.btn-green:active {
  background-color: rgb(86, 147, 37);
}
.studies-yellow {
  /* border: 1px solid var(--btn-one-color); */
  background-color: var(--btn-one-color);
  box-shadow: 1px 1px 3px 0px rgba(255, 246, 233, 1);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(255, 246, 233, 1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(255, 246, 233, 1);
}
.studies-yellow:hover,
.studies-yellow:focus {
  background-color: #ff9900;

  box-shadow: 1px 1px 3px 0px var(--btn-one-color);
  -webkit-box-shadow: 1px 1px 3px 0px var(--btn-one-color);
  -moz-box-shadow: 1px 1px 3px 0px var(--btn-one-color);
}
.studies-yellow:active {
  color: var(--btn-one-color);
  background-color: rgba(255, 246, 233, 1);
}
.studies-blue {
  /* border: 1px solid var(--btn-two-color); */
  background-color: var(--btn-two-color);
  box-shadow: 1px 1px 3px 0px rgba(208, 230, 255, 1);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(208, 230, 255, 1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(208, 230, 255, 1);
}
.studies-blue:hover,
.studies-blue:focus {
  background-color: #0e15ed;
  box-shadow: 1px 1px 3px 0px var(--btn-two-color);
  -webkit-box-shadow: 1px 1px 3px 0px var(--btn-two-color);
  -moz-box-shadow: 1px 1px 3px 0px var(--btn-two-color);
}
.studies-blue:active {
  color: var(--btn-two-color);
  background-color: rgba(208, 230, 255, 1);
}
.studies-green {
  /* border: 1px solid var(--btn-three-color); */
  background-color: var(--btn-three-color);
  box-shadow: 1px 1px 3px 0px rgba(42, 176, 144, 1);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(42, 176, 144, 1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(42, 176, 144, 1);
}
.studies-green:hover,
.studies-green:focus {
  background-color: #29bd9a;
  box-shadow: 1px 1px 3px 0px var(--btn-three-color);
  -webkit-box-shadow: 1px 1px 3px 0px var(--btn-three-color);
  -moz-box-shadow: 1px 1px 3px 0px var(--btn-three-color);
}
.studies-green:active {
  color: var(--btn-three-color);
  background-color: rgba(224, 255, 248, 1);
}

.recentwork-btn,
.studies-btn {  
  padding: 10px 24px;
  border-radius: 4px;
}

.btn-footer {
  min-width: 350px;
  height: 50px;
  /* padding: 16px 10px; */
}



h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.7;

  color: var(--title-color);
}
.title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 34px;
  line-height: 1.17;

  color: var(--title-color);
}
.text {
  line-height: 1.71;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

/* header */

header {
  background-color: #1b1b1b;
}
.navigation {
  display: flex;
  padding: 0 15px;
}
.nav-list {
  display: flex;
}
.nav-list-item {
  align-items: center;
}
.nav-list-item a {
  display: block;
  padding: 25px 10px;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list a,
.tel,
.mail {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.networks {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 10px;
}
.networks-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--text-color);
}
.networks-icon {
}
.networks-item a:hover,
.networks-item a:focus {
  fill: #00b2ff;
}
.gmail {
  fill: var(--text-color);
}
.gmail:hover,
.gmail:focus {
  fill: rgb(206, 17, 17);
}
.telegram {
  width: 25px;
  height: 25px;
  fill: var(--text-color);
}
.telegram:hover,
.telegram:focus {
  fill: #00b2ff;
}
.github {
  width: 25px;
  height: 25px;
  fill: var(--text-color);
}
.github:hover,
.github:focus {
  fill: #eef1f2;
}

/* hero */

.hero {
  padding-top: 80px;
  padding-bottom: 45px;
  background-color: black;
}
.hero-container {
}

.hero-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-sub-left {
  display: flex;
  flex-direction: column;
  width: 480px;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero-sub-image {
  display: flex;
  width: 380px;
  height: 280px;
  border-radius: 25%;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.2),
      rgba(47, 48, 58, 0.2)
    ),
    url(./images/myphoto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* .subcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
} */
/* .subcase-title {
  max-width: 480px;
} */

.hero-title {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 44px;
  line-height: 1.18;
  margin-bottom: 10px;

  color: var(--main-color);
}
.hero-text {
  margin-bottom: 30px;
}
.hero-text-two {
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  line-height: 1.24;
  margin-bottom: 20px;

  color: var(--main-color);
}
.hero-list {
  display: flex;
  justify-content: space-between;
}
.hero-list-item {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 48px;
  outline: 2px solid rgb(66, 65, 64);

  box-shadow: 2px 2px 4px 0px rgba(75, 193, 17, 0.76);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(75, 193, 17, 0.76);
  -moz-box-shadow: 2px 2px 4px 0px rgba(75, 193, 17, 0.76);
}
.hero-list-item:hover,
.hero-list-item:focus {
  box-shadow: 3px 3px 10px 0px rgba(75, 193, 17, 0.76);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(75, 193, 17, 0.76);
  -moz-box-shadow: 3px 3px 10px 0px rgba(75, 193, 17, 0.76);
}

.hero-github {
  fill: white;
}
/* studies */

.studies {
  padding-top: 80px;
}
.studies-title {
  text-align: center;
  margin-bottom: 10px;
}
.studies-text {
  text-align: center;
}
.studies-list {
}

.studies-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 80px;
}
.studies-item > div {
  width: 100%;
}
.studies-item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.studies-item img {
}

.studies-item-text {
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 3px 15px;
}
.studies-item-two {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
}
.studies-color-first {
  color: #ffa217;
  background-color: rgba(255, 246, 233, 1);
}
.studies-color-secondary {
  color: var(--btn-two-color);
  background-color: rgba(208, 230, 255, 1);
}
.studies-color-primary {
  color: var(--btn-three-color);
  background-color: rgba(224, 255, 248, 1);
}

.studies-text-two {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 10px;

  color: var(--title-color);
}
.studies-item-two {
  margin-bottom: 40px;
}

/* testimonials */

.testimonials {
  padding: 80px 0;
}
.testimonials-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 34px;
  line-height: 1.17;
  margin-bottom: 10px;
  text-align: center;

  color: #ffffff;
}
.testimonials-text {
  text-align: center;
  margin-bottom: 60px;
}
.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.testimonials-item {
  max-width: 445px;
  height: 212px;
  padding: 30px;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgb(165, 165, 167), rgb(8, 8, 8, 8)) 1;
}
.testimonials-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.testimonials-item-text {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;

  color: #9c9c9c;

  margin-bottom: 30px;
}
.testimonials-item-two {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;

  color: var(--main-color);
}

/* recentwork */

.recentwork {
  padding-top: 80px;
}
.recentwork-container{
  background-color: white;
}

.recentwork-title {
  text-align: center;
  margin-bottom: 10px;
}
.recentwork-text-block {
  max-width: 520px;
  display: flex;
  margin: auto;
}
.recentwork-top-text {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  text-align: center;
}
.recentwork-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}
.recentwork-item {
  max-width: 445px;
  border: 2px solid rgb(163, 163, 163);

  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
}
.recentwork-item div{
  padding:10px;
}
.recentwork-item img {
  width: 100%;
}
.recentwork-item-title {
  margin: 40px 0 20px 0;
}
.recentwork-text {
  margin-bottom: 20px;
}

/* getintouch */

.section-getintouch {
  padding-bottom: 80px;
  background-color: var(--title-color);
}
.section-getintouch .container {
  text-align: center;
}
.getintouch-container {
}
.getintouch-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 10px;

  color: #ffffff;
}
.getintouch-text {
  margin-bottom: 40px;
  margin-bottom: 40px;
}
.btn-bottom {
}

/* footer */
footer {
  padding: 25px 0;
  background-color: #1b1b1b;
}
footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer-item {
  width: 18px;
  height: 18px;
  border-radius: 50%;

  background-color: red;
}
.mail {
  padding: 5px 5px;
}
.footer-list-mailtel {
}
.footer-item-mailtel {
}
