header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #1b1b1b;
}

.navigation {
    position: relative;
    display: flex;
    padding: 0 15px;
}

.nav-list {
    display: flex;

    &__item {
        display: flex;
        align-items: center;

    }

    &__item a {
        display: block;
        padding:25px 0;

        @include tablet {
            padding: 25px 10px;
        }
    }

    &__item:not(:last-child) {
      margin-right: 10px;
       
        @include tablet {
            margin-right: 50px;

        }
    }
}

.nav-list a,
.tel,
.mail {
    font-family: "IBM Plex Mono";
    // font-size: 14px;
    font-size: 10px;
    line-height: 1.28;
    letter-spacing: 0.01em;

    color: var(--text-color);

    @include mobile {
        font-size: 12px;
    }

    @include tablet {
        font-size: 14px;
    }
}

.networks {
    display: none;
    margin-left: auto;
    align-items: center;
    gap: 20px;

    @include tablet{
        display: flex;
    }
}

.networks-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--text-color);
}

.networks-icon {
    transition: fill 250ms linear;
    transform: scale(1);
}

.networks-item a:hover,
.networks-item a:focus {
    fill: #00b2ff;
    transform: scale(1.2);
}

.messenger {
    width: 20px;
    height: 20px;
    fill: var(--text-color);
}
.messenger:hover,
.messenger:focus {
    fill: #00b2ff;
}

.gmail {
    fill: var(--text-color);
}

.gmail:hover,
.gmail:focus {
    fill: rgb(206, 17, 17);
}

.telegram {
    width: 25px;
    height: 25px;
    fill: var(--text-color);
}

.telegram:hover,
.telegram:focus {
    fill: #00b2ff;
}

.github {
    width: 25px;
    height: 25px;
    fill: var(--text-color);
}

.github:hover,
.github:focus {
    fill: #eef1f2;
}