.studies-yellow {
    /* border: 1px solid var(--btn-one-color); */
    background-color: var(--btn-one-color);
    box-shadow: 1px 1px 3px 0px rgba(255, 246, 233, 1);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(255, 246, 233, 1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(255, 246, 233, 1);
}

.studies-yellow:hover,
.studies-yellow:focus {
    background-color: #ff9900;

    box-shadow: 1px 1px 3px 0px var(--btn-one-color);
    -webkit-box-shadow: 1px 1px 3px 0px var(--btn-one-color);
    -moz-box-shadow: 1px 1px 3px 0px var(--btn-one-color);
}

.studies-yellow:active {
    color: var(--btn-one-color);
    background-color: rgba(255, 246, 233, 1);
}

.studies-blue {
    /* border: 1px solid var(--btn-two-color); */
    background-color: var(--btn-two-color);
    box-shadow: 1px 1px 3px 0px rgba(208, 230, 255, 1);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(208, 230, 255, 1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(208, 230, 255, 1);
}

.studies-blue:hover,
.studies-blue:focus {
    background-color: #0e15ed;
    box-shadow: 1px 1px 3px 0px var(--btn-two-color);
    -webkit-box-shadow: 1px 1px 3px 0px var(--btn-two-color);
    -moz-box-shadow: 1px 1px 3px 0px var(--btn-two-color);
}

.studies-blue:active {
    color: var(--btn-two-color);
    background-color: rgba(208, 230, 255, 1);
}

.studies-green {
    /* border: 1px solid var(--btn-three-color); */
    background-color: var(--btn-three-color);
    box-shadow: 1px 1px 3px 0px rgba(42, 176, 144, 1);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(42, 176, 144, 1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(42, 176, 144, 1);
}

.studies-green:hover,
.studies-green:focus {
    background-color: #29bd9a;
    box-shadow: 1px 1px 3px 0px var(--btn-three-color);
    -webkit-box-shadow: 1px 1px 3px 0px var(--btn-three-color);
    -moz-box-shadow: 1px 1px 3px 0px var(--btn-three-color);
}


.studies-green:active {
    color: var(--btn-three-color);
    background-color: rgba(224, 255, 248, 1);
}
