.testimonials {
 padding-bottom: 60px;
}

.testimonials-title {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 10px;
    text-align: center;

    color: var(--title-color);

    @include tablet {
        font-size: 34px;
    }
}

.testimonials-text {
    text-align: center;
    margin-bottom: 60px;
}

.testimonials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
    gap: 30px;
}

.testimonials-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    padding: 30px;
    border: 2px solid;

    background: #0b0b0b;
    background: linear-gradient(0deg, #0b0b0b 0%, #b4b4b4 80%);
    background: -webkit-linear-gradient(0deg, #0b0b0b 0%, #b4b4b4 80%);
    background: -moz-linear-gradient(0deg, #0b0b0b 0%, #b4b4b4 80%);

    border-image: linear-gradient(90deg, rgb(206, 206, 206), rgb(139, 138, 138)) 1;

    @include desktop{
        width: 391px;
   
    }
}

.testimonials-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonials-item-text {
   

    color: #ffffff;

}

.testimonials-item-two {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;

    color: var(--main-color);
}