p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
}

address {
    font-style: normal;
}

a {
    color: currentColor;
    text-decoration: none;
}

a[href] {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 8px;
    line-height: 1.28;
    transition: color 250ms linear,
        background-color 250ms linear;

    @include tablet {
        @include fons(nul, 14px, null, null);
    }
}

a[href]:hover,
a[href]:focus {
    color: var(--main-color);
}

a[href]:active {
    color: #bbb9b9;
}

img {
    display: block;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;

    @include mobile {
        width: 480px;
    }

    @include tablet {
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @include desktop {
        width: 1200px;
    }
}

h3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.7;

    color: var(--title-color);

    @include tablet {
        font-size: 24px;
    }
}

.title {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 34px;
    line-height: 1.17;

    color: var(--title-color);
}

.text {
    @include fons(null, 10px, 1.7, 0.01em);

    color: var(--text-color);

    @include tablet {
        @include fons(null, 14px, null, null);
    }

}