/* .btn {
  background: #3f8e00;
  border: 1px solid #3f8e00;
  border-radius: 4px;
  color: var(--main-color);
  box-shadow: 1px 1px 3px 0px rgba(87, 120, 61, 0.75);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(87, 120, 61, 0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(87, 120, 61, 0.75);
} */

.btn {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    // padding: 21px 64px;
    padding: 10px 40px;
    color: #ffffff;
    transition: color 250ms linear;




    &-green {
        background-color: #62ba1b;
        /* border: 1px solid #62ba1b; */
        border-radius: 4px;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    }

    &-green:hover,
    &-green:focus {
        background-color: var(--btn-hero-color);
    }

    &-green:active {
        background-color: rgb(86, 147, 37);
    }

    &__footer {

        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;


        @include desktop {
            width: 200px;
            height: 60px;
        }
    }

    &__recentwork {
        display: inline-flex;
        padding: 10px 24px;
        border-radius: 4px;
    }



    &-main {
        @include dFlex(inline-flex, center, center);

        width: 170px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;

        @include tablet {
            width: 250px;
            height: 50px;
        }
    }
}


.mobile {
    display: none;

    @media screen and (max-width:767px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        
        background-color: rgb(255, 255, 255);
        z-index: 99;
        transform: translateX(0);

        transition: transform 450ms linear,
            visibility 450ms linear, opacity 450ms linear;
    }
}

.mobile__open {
    position: absolute;
    top: 15px;
    right: 15px;
    fill: white;
    background-color: transparent;

    @include tablet {
        display: none;
    }
}

.mobile__btn {
    position: absolute;
    top: 19px;
    right: 25px;
    fill: rgb(255, 255, 255);
    background-color: transparent;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.mobile__btn {}

.mobile-btn__svg {
    width: 30px;
    height: 30px;
}

.mobile-btn__svg--open {
    position: absolute;
    top: 15px;
    right: 15px;
    fill: white;

    @include tablet {
        display: none;
    }
}

.mobile-btn__svg--close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.mobile__close {
    position: absolute;
}

.mobie-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px
}