:root {
    --body-color: #f5f5f5;
    --main-color: #ffffff;
    --nav-color: #1b1b1b;
    --text-color: #9c9c9c;
    --hero-color: #080808;
    --title-color: #080808;
    --color: #d9d9d9;
    --color: #000000;
    --btn-hero-color: #408f00;
    --btn-one-color: #ffa217;
    --btn-two-color: #000aff;
    --btn-three-color: #2ab090;
    --color: #f7f7f7;
}